@model ProjectMVC.Models.RegistractionModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistractionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjSponser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjSponser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Targets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Targets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.States)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.States)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Districts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Districts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
